@{
    ViewBag.Title = "Home Page";
}

@*<form action="@Url.Action("GetPatient", "Home")" method="post">
  <input type="hidden" id="queryCode" name="queryCode" />
  <input type="text" name="queryString" id="queryString" placeholder="Client Name">
  <button id="queryButton" type="submit">Get</button>
</form>*@

<div>
  <input type="text" name="queryString" id="queryString" placeholder="Client Name">
  <button id="btnClear" type="submit">Clear</button>
  <input type="hidden" id="queryCode" name="queryCode" />
</div>
<br />
<div id="results"></div>
<br />
<br />
<br />



<div id="the-basics">
  <input class="typeahead" type="text" placeholder="States of USA">
</div>
<br>
<div id="bloodhound">
  <input class="typeahead" type="text" placeholder="States of USA">
</div>
<br>
<div id="remote">
  <input class="typeahead" type="text" placeholder="Oscar winners for Best Picture">
</div>

@section scripts {

<script src="~/Scripts/bloodhound.js"></script>
<script src="~/Scripts/typeahead.jquery.js"></script>


<script>

    $(document).ready(function () {

        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
            'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
            'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
            'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
            'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
            'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
            'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
            'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
            'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
        ];

        $('#the-basics .typeahead').typeahead({
          hint: true,
          highlight: true,
          minLength: 2
        },
        {
            name: 'states',
            source: substringMatcher(states)
        });

        var bloodstates = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: states
        });

        $('#bloodhound .typeahead').typeahead({
          hint: true,
          highlight: true,
          minLength: 2
        },
        {
            name: 'states',
            source: bloodstates
        });

        var bestPictures = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          //prefetch: '../data/films/post_1960.json',
          remote: {
            url: '../Home/Query/%QUERY',
            wildcard: '%QUERY'
          }
        });

        $('#remote .typeahead').typeahead(
        {
          hint: true,
          highlight: true,
          minLength: 2
        },
        {
            name: 'Name',
            display: 'Name',
            source: bestPictures
        });



        var patients = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: {
            url: '../Home/Query/%QUERY',
            wildcard: '%QUERY'
          }
        });

        $('#queryString').typeahead(
        {
          hint: true,
          highlight: true,
          minLength: 2
        },
        {
            name: 'Name',
            display: 'Name',
            source: patients
        });

        $('#queryString').on('typeahead:selected', function (e, data) {
            $("#queryCode").val(data.Name);
            //$("#queryButton").click();
           $.post( '/Home/GetPatient/', { patient: data.Name })
               .done(function (data) {
                   data.forEach(function (item) {
                       $("#results").append(item.Name + "<br />");
                    //   alert("Data Loaded: " + item.Name);
                   });
            });
        });


        // use to clear the field
        $('#btnClear').on('click', function () {
            $('#queryString').val(''); 
            $("#queryCode").val('');
        });


    });


</script>

}