@{
    ViewBag.Title = "Home Page";
}

<div>
  <input type="text" name="queryString" id="queryString" placeholder="Client Name">
  <button id="btnClear" type="submit">Clear</button>
</div>
<br />
<div id="results"></div>


@section scripts {

<script src="~/Scripts/bloodhound.js"></script>
<script src="~/Scripts/typeahead.jquery.js"></script>


<script>

    $(document).ready(function () {

        var patients = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: {
            url: '../Home/Query/%QUERY',
            wildcard: '%QUERY'
            },
        });

        $('#queryString').typeahead(
        {
          hint: true,
          highlight: true,
          minLength: 2,
        },
        {
            name: 'Name',
            display: 'Name',
            source: patients,
          limit: Infinity
        });

        $('#queryString').on('typeahead:selected', function (e, data) {
            //$("#queryCode").val(data.Id);
           $.post( '/Home/GetPatient/', { patientId: data.Id })
               .done(function (patient) {
                   $("#results").append(patient.FirstName + " " +
                                        patient.LastName  + " " +
                                        patient.DOB + " " +
                                        patient.PhoneNumber);
                   
            });
        });


        // use to clear the field
        $('#btnClear').on('click', function () {
            $('#queryString').val('');
            $('#results').empty();
        });

    });

</script>

}